.overview-draft,
.overview-draft * {
  box-sizing: border-box;
}
.overview-draft {
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.red-player-card {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 993px;
  top: 266px;
  overflow: hidden;
}
.player-1-red-team {
  flex-shrink: 0;
  width: 166px;
  height: 339px;
  position: relative;
  aspect-ratio: 166/339;
}
.hero {
  background: #9d3434;
  width: 100%;
  height: 79.92%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 20.08%;
  top: 0%;
}
.nama {
  background: #c17171;
  width: 100%;
  height: 17.76%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 82.24%;
}
.nama2 {
  color: #ffffff;
  text-align: center;
  font-family: "LilitaOne-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 82.24%;
  height: 17.76%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-name {
  position: absolute;
  inset: 0;
}
.lane-indicator {
  position: absolute;
  inset: 0;
}
.background {
  background: #122027;
  width: 54px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 218px;
}
.lane {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 5px;
  top: 223px;
  object-fit: cover;
  aspect-ratio: 1;
}
.battlespell {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 111px;
  top: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}
.player-2-red-team {
  flex-shrink: 0;
  width: 166px;
  height: 339px;
  position: relative;
  aspect-ratio: 166/339;
}
.hero2 {
  width: 100%;
  height: 79.92%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 20.08%;
  top: 0%;
  object-fit: cover;
}
.background2 {
  background: #122027;
  width: 32.53%;
  height: 15.63%;
  position: absolute;
  right: 67.47%;
  left: 0%;
  bottom: 20.06%;
  top: 64.31%;
}
.lane2 {
  width: 25.9%;
  height: 43px;
  position: absolute;
  right: 71.08%;
  left: 3.01%;
  top: 223px;
  object-fit: cover;
  aspect-ratio: 1;
}
.battlespell2 {
  width: 28.31%;
  height: 47px;
  position: absolute;
  right: 4.82%;
  left: 66.87%;
  top: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}
.player-3-red-team {
  flex-shrink: 0;
  width: 166px;
  height: 339px;
  position: relative;
  aspect-ratio: 166/339;
}
.player-4-red-team {
  flex-shrink: 0;
  width: 166px;
  height: 339px;
  position: relative;
  aspect-ratio: 166/339;
}
.player-5-red-team {
  flex-shrink: 0;
  width: 166px;
  height: 339px;
  position: relative;
  aspect-ratio: 166/339;
}
.blue-player-card {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 64px;
  top: 266px;
  overflow: hidden;
}
.player-1-blue-team {
  flex-shrink: 0;
  width: 166px;
  height: 339px;
  position: relative;
  aspect-ratio: 166/339;
}
.hero3 {
  background: #01645a;
  width: 100%;
  height: 79.92%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 20.08%;
  top: 0%;
}
.nama3 {
  background: #71c1b9;
  width: 100%;
  height: 17.76%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 82.24%;
}
.player-2-blue-team {
  flex-shrink: 0;
  width: 166px;
  height: 339px;
  position: relative;
  aspect-ratio: 166/339;
}
.player-3-blue-team {
  flex-shrink: 0;
  width: 166px;
  height: 339px;
  position: relative;
  aspect-ratio: 166/339;
}
.player-4-blue-team {
  flex-shrink: 0;
  width: 166px;
  height: 339px;
  position: relative;
  aspect-ratio: 166/339;
}
.player-5-blue-team {
  flex-shrink: 0;
  width: 166px;
  height: 339px;
  position: relative;
  aspect-ratio: 166/339;
}
.iklan {
  background: rgba(24, 37, 44, 0.71);
  border-radius: 30px;
  width: 1837px;
  height: 373px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 675px;
}
.ban-blue {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 392px;
  position: absolute;
  left: 153px;
  top: 59px;
  overflow: hidden;
}
.blue-ban-hero-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.ellipse-1 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
  object-fit: cover;
}
.blue-ban-hero-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.blue-ban-hero-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.blue-ban-hero-4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.blue-ban-hero-5 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.ban-red {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 392px;
  position: absolute;
  left: 1393px;
  top: 59px;
  overflow: hidden;
}
.red-ban-hero-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.red-ban-hero-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.red-ban-hero-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.red-ban-hero-4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.red-ban-hero-5 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.vs {
  color: #ffffff;
  text-align: center;
  font-family: "LondrinaSolid-Light", sans-serif;
  font-size: 96px;
  line-height: 0px;
  font-weight: 300;
  position: absolute;
  left: calc(50% - 49px);
  top: 153px;
  width: 101px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-red {
  position: absolute;
  inset: 0;
}
.mansaba {
  color: #ffffff;
  text-align: center;
  font-family: "LeagueGothic-Regular", sans-serif;
  font-size: 32px;
  line-height: 0px;
  font-weight: 400;
  position: absolute;
  left: 1096px;
  top: 129px;
  width: 91px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-37 {
  background: #d9d9d9;
  width: 58px;
  height: 58px;
  position: absolute;
  left: 1113px;
  top: 45px;
}
.team-blue {
  position: absolute;
  inset: 0;
}
.mansaba2 {
  color: #ffffff;
  text-align: center;
  font-family: "LeagueGothic-Regular", sans-serif;
  font-size: 32px;
  line-height: 0px;
  font-weight: 400;
  position: absolute;
  left: 733px;
  top: 129px;
  width: 91px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-372 {
  background: #d9d9d9;
  width: 58px;
  height: 58px;
  position: absolute;
  left: 750px;
  top: 45px;
}
.logo-acara {
  width: 80px;
  height: 111px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 38px;
  object-fit: cover;
  aspect-ratio: 80/111;
}
